/*********************************/
/* Colours */
/*********************************/
/*
Brown rgb(98, 70, 50) #624632
Navy rgb(3, 32, 54) #032036
Grey Shadow rgb(47, 0, 0)

Orange #e89620
Dark purple  #38171f

Slate Green #555c55
Cream Green #F1FAEE
Dark Green #1f2c17
Medium Green #859a5b
*/

$Brown: #624632;
$Navy: #032036;
$Purple-Brown: #2F0000;
$Orange: #e89620;
$Cream: #FFF4C2;
$Dark-Purple: #38171f;
$Slate-Green: #555c55;
$Cream-Green: #F1FAEE;
$Light-Green: #859a5b;
$Medium-Green: #4CAF50;
$Dark-Green: #1f2c17;
$Black: #000000;
