<<<<<<< HEAD
/*********************************/
/* Section - Coffee List  */
/*********************************/
.CoffeeMenuPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .3fr 1fr 1fr 1fr;
    grid-gap: 0px 0px;
    grid-template-areas: ". . . Title Title Title Title . . ."
        ". . . . . . . . . ."
        ". CoffeeList1 CoffeeList1 . CoffeeList2 CoffeeList2 . CoffeeList3 CoffeeList3 ."
        ". CoffeeList1 CoffeeList1 . CoffeeList2 CoffeeList2 . CoffeeList3 CoffeeList3 ."
        ". . . . . . . . . .";
    font-family: "Chalk";
    font-size: 8vh;
    background-image: linear-gradient(135deg, #4CAF50 0%, #f1faee 95%);
}

.Title {
    grid-area: Title;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: 10%;
    font: 400 2em 'Oleo Script', Helvetica, sans-serif;
    color: $Slate-Green;
    text-shadow: 10px 0px 0px rgba($Purple-Brown, 0.3);
    left: 50%;
}

.CoffeeList1 {
    grid-area: CoffeeList1;
}

.CoffeeList2 {
    grid-area: CoffeeList2;
}

.CoffeeList3 {
    grid-area: CoffeeList3;
}

li {
    list-style-image: url(/Imgs/coffee.svg);
    filter: invert(67%) sepia(87%) saturate(974%) hue-rotate(343deg) brightness(43%) contrast(95%);
    font-size: 8vh;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

/* Section Dividers - Coffee List */
.CircleSection {
    position: relative;
    height: 100vh;
    background: $Slate-Green;
}

.BtnDivider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2%;
    width: 3%;
    height: 5%;
    color: $Navy;
    border-radius: 50%;
    background: $Orange;
    border: 5px solid $Slate-Green;
}

.BtnDivider:hover {
    transform: scale(0.75);
    transform: translate(-50%);
    transition: .2s;
    background: $Slate-Green;
    color: $Orange;
    border: 10px solid $Orange;
}
=======
/*********************************/
/* Section - Coffee List  */
/*********************************/
.CoffeeMenuPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .3fr 1fr 1fr 1fr;
    grid-gap: 0px 0px;
    grid-template-areas: ". . . Title Title Title Title . . ."
        ". . . . . . . . . ."
        ". CoffeeList1 CoffeeList1 . CoffeeList2 CoffeeList2 . CoffeeList3 CoffeeList3 ."
        ". CoffeeList1 CoffeeList1 . CoffeeList2 CoffeeList2 . CoffeeList3 CoffeeList3 ."
        ". . . . . . . . . .";
    font-family: "Chalk";
    font-size: 8vh;
    background-image: linear-gradient(135deg, #4CAF50 0%, #f1faee 95%);
}

.Title {
    grid-area: Title;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: 10%;
    font: 400 2em 'Oleo Script', Helvetica, sans-serif;
    color: $Slate-Green;
    text-shadow: 10px 0px 0px rgba($Purple-Brown, 0.3);
    left: 50%;
}

.CoffeeList1 {
    grid-area: CoffeeList1;
}

.CoffeeList2 {
    grid-area: CoffeeList2;
}

.CoffeeList3 {
    grid-area: CoffeeList3;
}

li {
    list-style-image: url(/Imgs/coffee.svg);
    filter: invert(67%) sepia(87%) saturate(974%) hue-rotate(343deg) brightness(43%) contrast(95%);
    font-size: 8vh;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

/* Section Dividers - Coffee List */
.CircleSection {
    position: relative;
    height: 100vh;
    background: $Slate-Green;
}

.BtnDivider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2%;
    width: 3%;
    height: 5%;
    color: $Navy;
    border-radius: 50%;
    background: $Orange;
    border: 5px solid $Slate-Green;
}

.BtnDivider:hover {
    transform: scale(0.75);
    transform: translate(-50%);
    transition: .2s;
    background: $Slate-Green;
    color: $Orange;
    border: 10px solid $Orange;
}
>>>>>>> 26e8bb1d96259b5665f14fa51f0c471d9cbeca1c
