/*********************************/
/* Basic Setup */
/*********************************/
@font-face {
    font-family: Chalk;
    src: url(/Fonts/ChalkFont.otf);
}

@font-face {
    font-family: LemonJelly;
    src: url(/Fonts/LemonJellyFont.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(/Fonts/GothicFont.ttf);
}

@font-face {
    font-family: IndieFlower;
    src: url(/Fonts/IndieFlower.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-color: $Cream-Green;
    /* Allows to smotthly move from one section to the next*/
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}
