/*********************************/
/* Section - Coffee List Popup */
/*********************************/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($Black, 0.7);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.popup {
    left: 50%;
    top: 15%;
    width: 70%;
    height: 70%;
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px 0px;
    grid-template-areas: ". . . . . . . . . ."
        ". PopupTitle PopupTitle PopupTitle .PopupClip PopupClip PopupClip PopupClip."
        ". . . .  . PopupClip PopupClip PopupClip PopupClip."
        "PopupInfo PopupInfo PopupInfo PopupInfo PopupInfo PopupClip PopupClip PopupClip PopupClip ."
        "PopupInfo PopupInfo PopupInfo PopupInfo PopupInfo PopupClip PopupClip PopupClip PopupClip ."
        "PopupInfo PopupInfo PopupInfo PopupInfo PopupInfo PopupClip PopupClip PopupClip PopupClip ."
        "PopupInfo PopupInfo PopupInfo PopupInfo PopupInfo PopupClip PopupClip PopupClip PopupClip ."
        "PopupInfo PopupInfo PopupInfo PopupInfo PopupInfo . . . . .";
    background-image: url(/Imgs/PinkGradient.png);
    border-radius: 1%;
    background-size: cover;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
}

.popup .close {
    position: absolute;
    right: 2%;
    transition: all .5s;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    color: $Brown;
}

.PopupTitle {
    grid-area: PopupTitle;
    font-family: "LemonJelly";
    font-size: 11em;
    font-weight: 100;
    color: $Navy;
    text-shadow: 4px 4px 0px rgba($Purple-Brown, 0.3);
    text-align: center;
}

.PopupClip {
    grid-area: PopupClip;
}

.PopupInfo {
    grid-area: PopupInfo;
    width: 100%;
    height: 100%;
    font-family: "Gothic";
    font-size: 6em;
    overflow: hidden;
    text-align: center;
    color: $Dark-Purple;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.btn:hover {
    -webkit-animation: text-shadow-drop-center 0.6s both;
    animation: text-shadow-drop-center 0.6s both;
}

.btn:hover {
    transition: .5s;
    -webkit-animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
